extend ../template/boilerplate
block main
    section.allCategory.py-4
        .container
            .row
                .category-items.col-md-3.mb-3.mb-md-0
                    .card
                        .image-wrap.d-flex.justify-content-center.align-items-center
                            img.card-img-top.w-50(src="assets/img/1.jpg", alt="")
                        .card-body.border-top
                            h5.card-title.text-center
                                a.text-decoration-none.text-dark(href='#') Winter jackets
                .category-items.col-md-3.mb-3.mb-md-0
                    .card
                        .image-wrap.d-flex.justify-content-center.align-items-center
                            img.card-img-top.w-50(src="assets/img/2.jpg", alt="")
                        .card-body.border-top
                            h5.card-title.text-center
                                a.text-decoration-none.text-dark(href='#') Winter jackets
                .category-items.col-md-3.mb-3.mb-md-0
                    .card
                        .image-wrap.d-flex.justify-content-center.align-items-center
                            img.card-img-top.w-50(src="assets/img/3.jpg", alt="")
                        .card-body.border-top
                            h5.card-title.text-center
                                a.text-decoration-none.text-dark(href='#') Winter jackets
                .category-items.col-md-3.mb-3.mb-md-0
                    .card
                        .image-wrap.d-flex.justify-content-center.align-items-center
                            img.card-img-top.w-50(src="assets/img/4.jpg", alt="")
                        .card-body.border-top
                            h5.card-title.text-center
                                a.text-decoration-none.text-dark(href='#') Winter jackets
                           
