footer.section-footer.border-top.bg
  .container
    section.footer-top.py-4
      .row
        aside.col-md.col-6
          h6.title Brands
          ul.list-unstyled
            li
              a(href='#' class="text-decoration-none text-dark") Adidas
            li
              a(href='#' class="text-decoration-none text-dark") Puma
            li
              a(href='#' class="text-decoration-none text-dark") Reebok
            li
              a(href='#' class="text-decoration-none text-dark") Nike
        aside.col-md.col-6
          h6.title Company
          ul.list-unstyled
            li
              a(href='#' class="text-decoration-none text-dark") About us
            li
              a(href='#' class="text-decoration-none text-dark") Career
            li
              a(href='#' class="text-decoration-none text-dark") Find a store
            li
              a(href='#' class="text-decoration-none text-dark") Rules and terms
            li
              a(href='#' class="text-decoration-none text-dark") Sitemap
        aside.col-md.col-6
          h6.title Help
          ul.list-unstyled
            li
              a(href='#' class="text-decoration-none text-dark") Contact us
            li
              a(href='#' class="text-decoration-none text-dark") Money refund
            li
              a(href='#' class="text-decoration-none text-dark") Order status
            li
              a(href='#' class="text-decoration-none text-dark") Shipping info
            li
              a(href='#' class="text-decoration-none text-dark") Open dispute
        aside.col-md.col-6
          h6.title Account
          ul.list-unstyled
            li
              a(href='#' class="text-decoration-none text-dark")  User Login 
            li
              a(href='#' class="text-decoration-none text-dark")  User register 
            li
              a(href='#' class="text-decoration-none text-dark")  Account Setting 
            li
              a(href='#' class="text-decoration-none text-dark")  My Orders 
        aside.col-md
          h6.title Social
          ul.list-unstyled
            li
              a(href='#' class="text-decoration-none text-dark")
                i.fab.fa-facebook
                |  Facebook
            li
              a(href='#' class="text-decoration-none text-dark")
                i.fab.fa-twitter
                |  Twitter
            li
              a(href='#' class="text-decoration-none text-dark")
                i.fab.fa-instagram
                |  Instagram
            li
              a(href='#' class="text-decoration-none text-dark")
                i.fab.fa-youtube
                |  Youtube
    
    section.py-3.row
      .col-md-2
        p.text-muted  &copy; 2021 Software World
      .col-md-10.text-md-center
        span.px-2 support@softwareworld.co.in
        span.px-2 +879-332-9375
        span.px-2 Radhanagar, Agartala, Tripura
  