- let WebsiteName = "Royal Fashion"
- var designedBy = "Joy Dey"

-
    var user_widgets = [
        {
        "name": "Profile",
        "icon": "mdi-account",
        "url": "profile.html"
        },
        {
        "name": "Wishlist",
        "icon": "mdi-heart",
        "url": "profile.html"
        },
        {
        "name": "Order",
        "icon": "mdi-store",
        "url": "profile.html"
        },
        {
        "name": "Cart",
        "icon": "mdi-cart",
        "url": "cart.html",
        "badge": 5
        },
    ]

-
    var categories = [
        {
        "name": "Login Page",
        "url": "login.html"
        },
        {
        "name": "Signup Page",
        "url": "signup.html"
        },
        {
        "name": "All Category Page",
        "url": "allcategory.html"
        },
        {
        "name": "Search Page",
        "url": "searchresults.html"
        },
        {
        "name": "Product Detail Page",
        "url": "productdetails.html"
        },
        {
        "name": "Cart Page",
        "url": "cart.html"
        },
        {
        "name": "Profile Page",
        "url": "profile.html"
        },
    ]


-
    var accountNavigation = [
        {
            "name": "Account Overview",
            "target": "overview",
            "type": "active"
        },
        {
            "name": "My Address",
            "target": "address"
        },
        {
            "name": "My Orders",
            "target": "orders"
        },
        {
            "name": "My Wishlist",
            "target": "wishlist"
        },
        {
            "name": "Logout",
            "url": "login.html"
        },
    ]

